aside {
    position: relative;
    border-left:none;
    border-right: 1px solid black;
}
aside i {
    font-style: normal;
    font-size:40px;
    width:50px;
    line-height: 50px;
    height: 50px;
    border:2px solid black;
    border-radius: 50%;
    position: absolute;
    top:0px;
    left:165px;
}
aside p#usrinf {
    margin-top:80px;
}
aside p#libr {
    font-weight: 700;
}
aside div#info {
    width:200px;
    padding:10px;
    border:2px solid black;
    text-align: left;
}
#buttons {
    width:250px;
    display: flex;
    justify-content: space-evenly;
}
#buttons > * {
    width:100px;
    height:35px;
    line-height: 35px;
    border:2px solid black;
    background: rgb(202, 202, 202);

}
section {
    position: relative;
}
section  h1 {
    text-align: center;
}
aside button a {
    text-decoration: none;
    color:black;
}
aside #info2 p {
    margin:10px;
    text-align:left;
}
#php {
    padding-top:30px;
    display: flex;
    justify-content: space-around;
    margin-bottom:30px;
}
#bookinfo > *{
    margin:5px;
}
#bookinfo h4{
    text-align: center;
    font-size:20px;
    font-weight: 400;
}
fieldset {
    margin:0 auto 30px;
    width:90%;
    height:60px;
    border:2px solid black;

}
legend {
    margin-left:30px;
    padding-left:5px;
    padding-right:5px;
}
fieldset input{
    width: 75%;
    margin-left:30px;
    height:30px;
    border:2px solid black;
    background-color: rgb(202, 202, 202);
}
fieldset button {
    width:15%;
    background: white;
    height: 30px;
    line-break: 30px;
    border:2px solid black;
    color:black;
    box-shadow: 1px 1px black;
}
section p {
    margin-left: 35px;
    margin-bottom:20px;
}
section .comment {
    width:95%;
    margin:0 auto;
    padding:10px;
    border:2px solid black;
    opacity:0.6;
}
section .comment p {
    margin:0;
    font-style: italic;
}
section #alert {
    padding-top:40px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(138, 15, 15);
    width:90%;
    height: 200px;
    top:150px;
    left:40px;
    text-align:center;
    color:white;
    font-size:26px;
    font-weight: 700;
    border:2px solid black;
    border-radius: 25px;
    opacity:0.7;
}